*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#menu-bar{
    display: none;
}

.header img{
    height: 45px;
    width: 170px;
    margin: 22px 0 0 63px;
}

.links{
    margin: 15px 70px 0 0;
}

.links a{
    text-decoration: none;
    padding: 10px;
    color: #202020;
    letter-spacing: 0;
    line-height: 19px;
    padding: 0 20px 0 20px;
}

.links a:first-child{
    color: #003BB2;
}

.info{
    display: flex;
    height: 68px;
    background: linear-gradient(to right,#1c60b8 1%,#3c99dd 100%);
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.info h4{
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}

.info img{
    width: 9px;
    height: 7.7px;
}

.container-1{
    display: flex;
    margin: 20px 0 0 100px;
}

.box{
    height: 80px;
    width: 135px;
    border-radius: 10px;
    margin-bottom: 26px;
}

.bitcoin-img{
    width: 25px;
    height: 25px;
}

.box1{
    background-image:linear-gradient(to top left,#FAD961, #F76B1C);;
}

.box2{
    background-image:linear-gradient(to top left,#B4EC51, #429321);;
}

.box3{
    background-image:linear-gradient(to top left,#FAD961,#F76B1C);;
}

.box4{
    background-image:linear-gradient(to top left,#B4EC51 ,#429321);;
}

.box5{
    background-image:linear-gradient(to top left,#FAD961,#F76B1C);;
}

.box6{
    background-image:linear-gradient(to top left,#3FCDDF,#2B85AB);;
}

.container-1 h6{
    font-size: 11px;
    padding: 5px 0 0 8px;
    color: rgba(255,255,255,0.70);
    letter-spacing: -0.17px;
}

.container-1 a{
    text-decoration: none;
}

.container-1 h5{
    font-size: 20px;
    letter-spacing: -0.22px;
    width: 77px;
    height: 21px;
    text-align: left;
    color: #FFFFFF;
    padding: 3px 0 0 6px;
}

.container-1 img{
    height: 7px;
    width: 7px;
    margin: 0 0 0 8px;
}

.section{
    display: flex;
    align-items: center;
    margin: 20px 0 20px 105px;
}

.section h3{
    font-size: 32px;
    font-size: 32px;
    color: #505050;
    height: 41px;
    width: 240px;
}

.next{
    background-color: #CDCED5;
    /* height: 36px;
    width: 103px; */
    border-radius: 10px;
    padding: 5px;
    position: relative;
    left: 48%;
}

.next a{
    margin: 0 0 0 5px;
}

.section img{
    height: 13px;
    width: 14px;
    margin: 5px 0 0 2px;
}

.section a{
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.18px;
    line-height: 22px;
}

.input{
    position: relative;
    left: 48%;
}

.input input{
    width: 162px;
    height: 36px;
    background-color: #CDCED5;
    border-radius: 9px;
    outline: none;
    border: 0;
    margin-left: 5px;
}

::placeholder{
    color: #FFFFFF;
    padding-left: 5px;
}

.usd{
    background-color: #CDCED5;
    border-radius: 10px;
    padding: 7px;
    margin-left: 5px;
    position: relative;
    left: 48%;
}

.heading{
    display: flex;
    justify-content: space-between;
    margin: 30px 85px 30px 120px;
    text-transform: uppercase;
    color: #245DA6;
    letter-spacing: -0.27px;
}

.details{
    display: flex;
    justify-content: space-between;
    margin: 30px 110px;
    border-bottom: 1px solid rgba(0, 89, 178, .08);
}

.number{
    color: #CDCED5;
    padding-left: 5px;
}

.bit-logo{
    width: 31px;
    height: 33px;

}

.graph{
    height: 50px;
    width: 80px;
}

.arrow{
    width: 8px;
    height: 9px;
    padding-right: 4px;
}

.name{
    font-size: 16px;
    color: #3D3D3D;
    letter-spacing: -0.39px;
}

.name-2{
   opacity: 0.5;
   font-size: 14px;
   color: #9B9EAD;
   letter-spacing: -0.34px;
}

.change{
   font-size: 16px;
   color: #C7410E;
   letter-spacing: -0.18px;
}

.change img{
    padding-right: 4px;
}

.change-2{
  color: #58B522;
  letter-spacing: -0.18px;
  text-align: right;
}

.change-2 img{
    padding-right: 4px;
}

.price{
    font-size: 16px;
    color: #003BB2;
    letter-spacing: -0.27px;
}

.page-link{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.page-link a{
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.18px;
    line-height: 22px;
    height: 29px;
    width: 19px;
    background: #CDCED5;
    border-radius: 9px;
    margin: 4px;
    padding: 7px 0 0 12px;
}

.image img{
    height: 260px;
    width: 100%;
}

.posts{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 87px;
}

.post{
    width: 300px;
    height: 354px;
    border: 2px solid #CDCED5;
    border-radius: 15px;
}

.post h4{
   font-size: 22px;
   color: #003BB2;
   margin: 10px 0 0 7px;
}

.post img{
    height: 215px;
    width: 300px;
}

.post p{
    font-size: 16px;
    color: #3D3D3D;
    margin: 20px 0 0 7px;
}

.upper-footer{
    margin-top: 30px;
    background: #E7EBED;
    display: flex;
    height: 242px;
    justify-content: space-around;
}

.uf-one img{
    width: 196px;
    height: 41px;
}

.uf >:first-child{
    margin-bottom: 20px;
}

.uf-two, .uf-three, .uf-four, .uf-five{
    padding-top: 15px;
}

.uf{
    margin-top: 30px;
}

.uf-five a{
    width: 27px;
    height: 27px;
    background: #245DA6;
    border-radius: 8px;
    padding: 7px;
}

.uf a{
    text-decoration: none;
    font-size: 14px;
    color: #3D3D3D;
    letter-spacing: 0;
    line-height: 24px;
}

.text{
    color: #245DA6;
    letter-spacing: -0.27px;
}

.uf-five input{
    background: #BFC6CB;
    border-radius: 8px;
    width: 160px;
    height: 30px;
    border-radius: 8px;
    outline: none;
    border: 0;
    margin-left: 5px;
}

.arrow-img{
    width: 12px;
    height: 12px;
}

.download-app{
    width: 91px;
    height: 30px;
    margin-top: 55px;
    padding: 4px;
}

.lower-footer{
    background: #BFC6CB;
    height: 50px;
    display: flex;
    align-items: center;
}

.lower-footer img{
    height: 25px;
    width: 25px;
}

.lower-footer h4{
    font-size: 16px;
    color: #3D3D3D;
    margin-left: 74px;
}

.lower-footer a{
    text-decoration: none;
    font-size: 14px;
    color: #E7EBED;
    padding: 0 5px;
}

.lower-footer-link{
    position: relative;
    left: 60%;
}

