@media screen and (max-device-width: 1330px){
    .uf {
        padding: 45px 26px 0 38px;
    }

    .download-app {
        margin: -140px 0 0px 80px;
    }

    .icon-container {
        position: fixed;
        left: 94%;
        top: 77%;
    }
}

@media screen and (min-device-width: 1250px) and (max-device-width: 1300px){
    .graph-pic img {
        height: 210px;
        width: 752px;
        margin: 30px 30px 0 155px;
    }

    .outer-link {
        padding: 60px 0 0 770px;
    }

    .drop-container {
        margin: 50px 0 50px 120px;
    }
}

@media screen and (max-device-width: 1250px) and (min-device-width: 1200px){
    .graph-pic img {
        height: 213px;
        width: 722px;
        margin: 30px 30px 0 119px;
    }

    .outer-link {
        margin: 30px 0 0 0;
        padding: 60px 0 0 700px;
    }

    .text-link{
        margin: 30px 0 -25px 200px;
    }

    .drop-container {
        margin: 50px 0 50px 110px;
        padding: 0 10px 0 0;
    }

    .uf{
        padding: 45px 20px 0 30px;
    }

    .download-app img {
        width: 140px;
        height: 40px;
    }

    .mail {
        margin: -145px 0 0px 28px;
    }

    .download-app {
        margin: -140px 0 0px 64px;
    }

}

@media screen and (max-device-width: 1200px) and (min-device-width: 1150px){
    
    .bch {
        height: 60px;
        width: 60px;
        margin: 0 0 0 5px;
    }

    .first-h4 {
        font-size: 28px;
        font-weight: 500;
        line-height: 28px;
    }

    .second-h4 {
        color: darkblue;
        font-size: 28px;
    }

    .input input {
        width: 110px;
        height: 34px;
        font-size: 18px;
    }

    .search a {
        font-size: 15px;
        letter-spacing: -0.18px;
        line-height: 21px;
    }
    
    .graph-pic img {
        height: 201px;
        width: 670px;
        margin: 30px 30px 0 155px;
    }
    
    .outer-link {
        margin: 30px 0 0 0;
        padding: 60px 0 0 675px;
    }

    .price-details h3 {
        font-size: 28px;
    }

    .low-con h3 {
        font-size: 28px;
        color: #fff;
    }

    .drop-container {
        margin: 50px 0 50px 78px;
        padding: 0 10px 0 0;
    }

    .uf {
        padding: 45px 20px 0 20px;
    }

    .mail {
        margin: -145px 0 0px 13px;
    }

    .download-app img {
        width: 120px;
        height: 35px;
    }

    .download-app {
        margin: -140px 0 0px 47px;
    }

    .icon-container {
        position: fixed;
        left: 92%;
        top: 77%;
    }
}

@media screen and (max-device-width: 1150px) and (min-device-width: 1100px){
    
    .bch {
        height: 60px;
        width: 60px;
        margin: 0 0 0 5px;
    }

    .first-h4 {
        font-size: 28px;
        font-weight: 500;
        line-height: 28px;
    }

    .second-h4 {
        color: darkblue;
        font-size: 28px;
    }

    .text-link{
        margin: 30px 0 -25px 150px;
    }

    .input input {
        width: 110px;
        height: 34px;
        font-size: 18px;
    }

    .search a {
        font-size: 15px;
        letter-spacing: -0.18px;
        line-height: 21px;
    }
    
    .graph-pic img {
        height: 201px;
        width: 670px;
        margin: 30px 30px 0 102px;
    }
    
    .outer-link {
        margin: 30px 0 0 0;
        padding: 60px 0 0 612px;
    }

    .price-details h3 {
        font-size: 28px;
    }

    .blog-post img {
        height: 210px;
        width: 100%;
    }

    .blog-post {
        height: 345px;
        margin: 35px 30px 40px 30px;
    }

    .low-con h3 {
        font-size: 28px;
        color: #fff;
    }

    .drop-container {
        margin: 50px 0 50px 47px;
        padding: 0 10px 0 0;
    }

    .uf{
        padding: 45px 10px 0 17px;
    }

    .mail {
        margin: -145px 0 0px 13px;
    }

    .download-app img {
        width: 120px;
        height: 35px;
    }

    .download-app{
        margin: -140px 0 0px 24px;
    }

    .icon-container {
        position: fixed;
        left: 92%;
        top: 77%;
    }
}

@media screen and (max-device-width: 1100px) and (min-device-width: 1050px){
    
    .detail {
        margin: 35px 0 0 100px;
    }

    .bch {
        height: 60px;
        width: 60px;
        margin: 0 0 0 5px;
    }

    .first-h4 {
        font-size: 28px;
        font-weight: 500;
        line-height: 28px;
    }

    .second-h4 {
        color: darkblue;
        font-size: 28px;
    }

    .text-link{
        margin: 30px 0 -25px 150px;
    }

    .input input {
        width: 110px;
        height: 34px;
        font-size: 18px;
    }

    .search a {
        font-size: 15px;
        letter-spacing: -0.18px;
        line-height: 21px;
    }
    
    .graph-pic img {
        height: 220px;
        width: 585px;
        margin: 30px 30px 0 155px;
    }
    
    .outer-link {
        margin: 30px 0 0 0;
        padding: 60px 0 0 583px;
    }

    .price-details h3 {
        font-size: 28px;
    }

    .blog-post img {
        height: 210px;
        width: 100%;
    }

    .blog-post {
        height: 345px;
        margin: 35px 30px 40px 30px;
    }

    .low-con h3 {
        font-size: 28px;
        color: #fff;
    }

    .drop-down {
        padding: 45px 0;
        width: 470px;
    }

    .drop-container {
        margin: 50px 0 50px 50px;
        padding: 0 10px 0 0;
    }

    .drop-down-content {
        width: 460px;
        height: 336px;
    }

    .uf {
        padding: 45px 9px 0 9px;
    }

    .mail {
        margin: -145px 0 0px 13px;
    }

    .download-app img {
        width: 93px;
        height: 30px;
    }

    .download-app{
        margin: -140px 0 0px 24px;
    }

    .icon-container {
        position: fixed;
        left: 92%;
        top: 77%;
    }
}