*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.low-container{
    display: none;
}

.menu-bg{
    display: none;
}

#menu-bar{
    display: none;
}

.navbar{
    display: flex;
    height: 115px;
    align-items: center;  
    justify-content: space-between; 
}

.navbar a{
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    color: black;
}

.links{
    margin: 0 55px 0 0;
}

.links a:first-child{
    background: linear-gradient(to right,#1c60b8 1%,#3c99dd 100%);
    color: #fff;
    border-radius: 4px;
    padding: 12px 25px;
}

.links a:hover{
    color: #335d87;
}

.logo img{
    width: 188px;
    height: 41px;
    margin: 0 0 0 20px;
}

.nav{
    display: none;
}

header{
    display: flex;
    height: 70px;
    font-size: 14px;
    background: linear-gradient(to right,#1c60b8 1%,#3c99dd 100%);
    justify-content: space-evenly;
    align-items: center;
}

header h4{
    color: white;
}

.detail-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail{
    display: flex;
    align-items: center;
    margin: 35px 0 0 145px;
}

.detail h4{
   display: inline-block;
}

.left_arrow{
    height: 14px;
    width: 14px;
    color: #505050;
    text-align: center;
    line-height: 36px;
    background-color: #e2e2e2;
    padding: 10px;
    border-radius: 100%;
}

.bch{
    height: 64px;
    width: 64px;
    margin: 0 0 0 5px;
}

.down-arrow{
    height: 14px;
    width: 14px;
    margin: 0 5px 3px 10px;
}

.first-h4{
    color: #505050;
    font-size: 32px;
    margin: 0 5px;
    font-weight: 500;
    line-height: 28px;
}

.second-h4{
    color: darkblue;
    font-size: 32px;
    margin: 0 5px;
}

.third-h4{
    color: #505050;
    line-height: 28px;
}

.search{
    display: flex;
    align-items: center;
    margin: 35px 140px 0 0;
}

.search-icon{
    width: 14px;
    height: 14px;
    background: #CDCED5;
    padding: 0 8px 0 8px;
    margin: 11px 0 0 0;
}

.input{
    background: #CDCED5;
    border-radius: 9px;
}

.input input{
    width: 110px;
    height: 36px;
    background: #CDCED5;
    outline: none;
    border: 0;
    color: #fff;
    font-size: 18px;
    border-radius: 9px;
}

::placeholder{
    color: #FFFFFF;
    font-size: 18px;
}

.search a{
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.18px;
    line-height: 22px;
}

.usd{
    background-color: #CDCED5;
    border-radius: 9px;
    padding: 7px 25px 7px 25px;
    margin-left: 5px;
}

.camera, .star{
    height: 20px;
    width: 20px;
    background-color: #CDCED5;
    border-radius: 9px;
    padding: 7px;
    margin-left: 5px;
    opacity: .7;
}

.currency{
    display: flex;
    align-items: center;
    margin: 35px 0 0 207px;
}

.currency h4{
    height: 27px;
    width: 44px;
    background-color: #f1f1f1;
    color: #838383;
    padding: 8px 10px 0px 15px;
    font-size: 18px;
}

.currency input{
    height: 33px;
    width: 140px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
}

.currency img{
    width: 20px;
    height: 20px;
    opacity: .6;
}

.currency select{
    background-color: #f1f1f1;
    width: 100px;
    height: 35px;
    margin: 0px;
    text-align: center;
    line-height: 33px;
    font-size: 18px;
    color: #838383;
}

.currency-img{
    margin: 0 20px;
}

.outer-link{
    display: flex;
    background: -webkit-linear-gradient(left, #F8A008 1%, #F8A040 100%);
    margin: 30px 0 0 0;
    padding: 60px 0 0 795px;
}

.graph-container{
    height: 340px;
    display: flex;
    background: -webkit-linear-gradient(left, #F8A008 1%, #F8A040 100%);
}

.link{
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 70px;
    height: 15px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 2px 0px 6px 0;
    margin: 4px 2px;
}

.basic {
    background-color: #1c60b8;
    color: black;
    height: 15px;
}

.advance{
    background-color: #fff;
    color: #1c60b8;
}

.graph{
    display: flex;
}

.graph-pic img{
    height: 235px;
    width: 795px;
    margin: 30px 30px 0 155px;
}

.text-link{
    margin: 30px 0 -25px 240px;
}

.graph-detail a{
   text-decoration: none;
   color: #039;
   font-size: 12px;
   font-weight: bold;
   background: #fff;
   height: 32px;
   width: 32px;
   border-radius: 5px;
   padding: 5px;
}

.graph-detail h5, h3{
    color: #fff;
}

.price-details{
    display: flex;
}

.price-details h5{
   font-size: 14px;
}

.price-details h3{
    font-size: 32px;
 }

.btc-icon{
    height: 15px;
    width: 15px;
}

.white-down-arrow{
    height: 10px;
    width: 10px;
    margin: 0 2px 0 5px;
}

.price-details-one{
    margin: 14px 0 60px 70px;
}

.price-details-two{
    margin: 18px 0 0 70px;
}

.lower-container{
    background: -webkit-linear-gradient(left, #F8A008 1%, #F8A040 100%);
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 35px 0;
}

.low-con h5{
    font-size: 17px;
    color: #fff;
}

.low-con h3{
    font-size: 32px;
    color: #fff;
}

.drop-down-menu{
    background: #f2f2f2;
    height: auto;
    width: 100%;
    display: flex;
}

.drop-container{
    margin: 50px 0 50px 170px;
    padding: 0 10px 0 0;
}

.drop-down{
    padding: 45px 0;
    width: 500px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
}

.drop-down-para{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    /* border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2; */
    display: none;
}

.drop-down-one{
    margin: 0 0 6px 0;
}

.drop-down-two{
    margin: 50px 0 50px 0;
}

/* .drop-down-three{
    height: 135px;
    width: 500px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    position: relative;
    left: -18%;
    top: 25%;
    margin: 0 4px;
} */

.drop-down-one p{
    display: none;
    margin: 30px;
    line-height: 19px;
}

.drop-down h3{
    font-size: 32px;
    color: #505050;
    display: inline-block;
    margin: 0 0 0 30px;
}

.drop-down > img{
   height: 15px;
   width: 15px;
   cursor: pointer;
}

.drop-down-img-three{
    margin: -28px 0 28px 430px;
}

.drop-down-img-one{
    margin: 0 0 0 310px;
}

.drop-down-img-two{
    margin: -23px 0 18px 440px;
}

.drop-down h6{
    color: #3d3d3d;
    font-size: 16px;
    letter-spacing: -0.39px;
    line-height: 19px;
    display: none;
}

.drop-down-one h6{
    margin: 30px;
}

.icon-link{
    display: none;
}

.d-flex{
    display: flex;
}

.icon-link a{
    text-decoration: none;
    color: #838383;
    margin: 0 25px;
    font-size: 14px;
}

.icon-link img{
   height: 30px;
   width: 30px;
   margin: 0 0 10px 0;
}

.icon-link-one{
    background: #3489ff;
    border-radius: 100%;
    padding: 17px;
}

.icon-link-two{
    background: #c03a2c;
    border-radius: 100%;
    padding: 17px;
}

.icon-link-three{
    background: #12a660;
    border-radius: 100%;
    padding: 17px;
}

.icon-link-four{
    background: #333433;
    border-radius: 100%;
    padding: 17px;
}

.drop-down-two h6{
    color: #3d3d3d;
    font-size: 16px;
    display: block;
    background: white;
    padding: 15px 0 30px 30px;
    /* border-radius: 10px; */
}

.drop-down iframe{
    display: none;
}

.drop-down iframe{
    height: 210px;
    width: 400px;
    margin: 50px 0 0 50px;
}
 
 .iframe-container{
     /* padding: 20px; */
     background-color: white;
     border-radius: 10px;
     height: auto;
     width: auto;
     /* border-left: 1px solid #e2e2e2;
     border-right: 1px solid #e2e2e2;
     border-bottom: 1px solid #e2e2e2; */
 }

.post{
    width: auto;
    height: 340px;
    border: 2px solid #CDCED5;
    border-radius: 15px;
    margin: 0 55px 40px 55px;
}

.post h4{
   font-size: 22px;
   color: #337AB7;
   margin: 10px 0 0 7px;
}

.post img{
    height: 215px;
    width: 100%;
    border-radius: 10px;
}

.post p{
    color: #3d3d3d;
    font-size: 15px;
    line-height: 19px;
    margin: 8px;
}

.drop-down-content{
    width: 500px;
    height: 336px;
    background-color: #fff;
    /* border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2; */
    border-radius: 10px;
    display: none;

}

.reddit-info{
    display: flex;
    background-color: #CEE3F8;
    padding: 2px;
    height: 30px;
}

.reddit-info-img{
    width: 19px;
    height: 18px;
    /* padding: 5px 3px 3px 3px; */
}

.reddit-info h4{
    font-size: 18px;
    color: #838383;
    padding: 3px;
}

.reddit-info a{
    text-decoration: none;
}

.reddit-info a h4{
    font-size: 18px;
    color: #336699;
    padding: 0;
}

.reddit-post{
    background-color: #fff;
    width: 400px;
    height: 300px;
    border: 1px solid;
    overflow-y: scroll;
    margin: 0 45px;
}

.reddit-post a{
    color: #336699;
    font-size: 13px;
    padding: 5px;
    text-decoration: none;
}

.up-down-img{
    height: 32px;
    width: 17px;
    padding: 5px;
}

.blog-posts{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 87px;
    flex-wrap: wrap;
}

.blog-info{
    display: flex;
    justify-content: space-between;
}

.blog-info h2{
    color: #505050;
    font-size: 32px;
    margin: 25px 0 0 60px;
    font-weight: 500;
    line-height: 28px;
}

.blog-info a{
    text-decoration: none;
    background-color: #cdced5;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    border-radius: 5px;
    margin: 20px 60px 0 0;
}

.blog-post{
    width: auto;
    height: 372px;
    border: 2px solid #CDCED5;
    border-radius: 15px;
    margin: 35px 30px 40px 30px;
}

.blog-post h4{
   font-size: 22px;
   color: #003BB2;
   margin: 10px 0 0 7px;
}

.blog-post img{
    height: 248px;
    width: 100%;
    border-radius: 10px;
}

.blog-post p{
    font-size: 16px;
    color: #3D3D3D;
    margin: 20px 0 0 7px;
}

.upper-footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    background: #e7ebed;
}

.uf{
    padding: 45px 30px 0 50px;
    flex-wrap: wrap;
}

.one, .two, .three, .four{
    height: 300px;
}

.one img{
   height: 37px;
   width: 180px;
   margin: -11px 0 10px 0;
}

.uf a{
    text-decoration: none;
}

.uf h4{
    color: #245da6;
    font-size: 15px;
    margin: 0 0 26px 0;
}    

.uf h5{
    /* padding: 10px 0; */
    color: #3d3d3d;
    font-size: 14px;
    line-height: 30px;
}

.five{
    margin: 0 0 35px 0;
}

.five h5{
   font-size: 12px;
   display: inline;
   line-height: 0;
}

.five p{
    font-size: 11px;
 }

 .five img{
    width: 60px;
    height: 40px;
 }

 .five-link{
     padding: 3px 0;
 }

 .mail{
    margin: -145px 0 0px 48px;
 }

.mail input{
    background-color: #bfc6cb;
    width: 250px;
    color: #fff;
    height: 36px;
    padding: 0 12px;
    /* margin: 0 0 0 38px; */
    font-size: 15px;
    font-weight: 400;
    box-shadow: none;
    border: 0;
    border-radius: 8px;
    outline: none;
}

::placeholder{
    font-size: 15px;
}

.newsletter{
    color: #245da6;
    margin-bottom: 26px;
    text-decoration: none;
}

.newsletter h5{
    font-size: 16px;
    margin: 0 0 10px 0;
}

.submit{
    background: #245DA6;
    border-radius: 8px;
    padding: 9px 15px;
}

.arrow-img{
    width: 13px;
    height: 13px;
}

.download-app{
    margin: -140px 0 0px 132px;
}

.download-app h5{
    color: #245da6;
    margin: 0 0 10px 0;
    font-size: 16px;
    text-decoration: none;
}

.download-app img{
    width: 150px;
    height: 46px;
}

.lower-footer{
    display: flex;
    background-color: #bfc6cb;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.lower-footer p{
    color: #3d3d3d;
    font-size: 16px;
    margin: 0 45px;
}

.red-heart-img{
    height: 20px;
    width: 18px;
}

.icons{
    height: 15px;
    width: 15px;
    padding: 7px;
    border-radius: 100%;
}

.icon-one{
    background: linear-gradient(to right, #1c60b8 1%,#3c99dd 100%);
}

.icon-two{
    background: linear-gradient(to right, #d14639 1%,#c64a3f 100%);
}

.icon-three{
    background: linear-gradient(to right, #1da1f2 1%, #1da1f2 100%);
}

.icon-four{
    background: linear-gradient(to right, #a739a6 1%,#fca644 100%);
}

.icon-five{
    background: linear-gradient(to right, #2aabde 1%,#3db8e5 100%);
}

.icon-six{
    background: linear-gradient(to right, #ff0000 1%, #ff0000 100%);
}

.icon-container{
    position: fixed;
    left: 94%;
    top: 84%;
    background-color: #1c60b8;
    border: 1px solid #fff;
    border-radius: 100%;
}

.camera-icon{
    height: 25px;
    width: 27px;
    padding: 14px;
}
